
<h1>Inscris-toi à la super Newsletter !</h1>
<% provide(:title, "Inscription à la Newsletter") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: subscribe_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %></br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %></br>

      <%= f.submit "M'inscrire", class: "btn btn-primary" %>
    <% end %></br>

  </div>

</div>
